<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pferdeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".Activities.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AddHorseActivity" />
        <activity android:name=".Activities.AddFeedActivity" />
        <activity android:name=".Activities.AddHorseFeedActivity" />
        <activity android:name=".Activities.FeedInformationActivity" />
        <activity android:name=".Activities.ShowHorseInformationActivity" />
        <activity android:name=".Activities.ShowIngredientsActivity" />
        <activity android:name=".ImageToText"/>
        <activity android:name=".ForgotPassword" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />


    </application>

</manifest>